.header {
  padding-top: 39px;
  min-height: 100vh;
  background: url("../img/header/header__bg.png") 0 0/100% auto no-repeat;
}
.header .nav {
  padding-bottom: 39px;
}
.header .nav__row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .nav__item {
  display: flex;
  gap: 41px;
  align-items: center;
}
.header .nav__link a {
  color: white;
  font-size: 15px;
  line-height: 1.86;
  letter-spacing: 0.2px;
}
.header .nav__link a:hover {
  color: #BABABA;
}
.header .nav__item-logo {
  margin-right: 0;
}
.header .nav__item-svg {
  gap: 28px;
}
.header .nav__svg:hover path {
  fill: #2091f9;
}
.header .nav__burger-icon {
  display: none;
  cursor: pointer;
}
.header .nav__burger-icon.clicked {
  margin: 0 200px 0 0;
  position: fixed;
  right: 40px;
}
.header .nav__burger-icon.change-color path {
  fill: black;
}
.header .nav-burger__menu {
  padding: 40px;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: all 0.5s ease;
  background: linear-gradient(0deg, rgb(237, 219, 168) 24%, rgb(237, 219, 168) 29%, rgb(224, 191, 77) 63%, rgb(222, 188, 66) 88%, rgb(241, 227, 196) 100%);
  right: -100%;
  height: 100%;
  display: none;
}
.header .nav-burger__menu.active {
  right: 0;
}
.header .nav-burger__link a {
  font-weight: 700;
  font-size: 38px;
  color: rgb(63, 63, 63);
}
.header__info {
  text-align: center;
  margin-top: 80px;
  color: white;
}
.header__title {
  font-weight: 700;
  font-size: 74px;
  line-height: 1.14;
  max-width: 55%;
  margin: 0 auto;
}
.header__subtitle {
  font-size: 28px;
  line-height: 1.42;
  max-width: 63%;
  margin: 20px auto 0 auto;
}
.header__btn {
  margin: 80px 0 50px 0;
}