@media(max-width:1350px){
  .header{
    background: url('../img/header/header__bg.png')center/auto 100% no-repeat;
    &__title{
      font-size: 50px;
    }
    &__subtitle{
      font-size: 24px;
    }
  }
  .subscribe{
    &__form{
      flex-direction: column;
    }
  }
}
@media(max-width:1200px){
  .header{

    .nav{
      &__link{
        a{
          font-size: 18px;
        }
      }
    }
    &__title{
      max-width: 75%;
      margin-bottom: 60px;
    }
    &__subtitle{
      max-width: 75%;
    }
  }
  .contact{
    &__subtitle{
      max-width: 75%;
    }
  }
  .footer{
    &__inner{
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 60px;
      //flex-direction: column;
    }
    &__item{
      flex: 1 0 50%;
      text-align: center;
      &:nth-child(1), &:nth-child(2){
        margin-bottom: 50px;
      }
    }
    &__topic{
      font-size: 30px;
    }
    &__piece{
      font-size: 20px;
    }
    &__contacts{
      justify-content: center;
      align-items: center;
    }
    &__socials{
      justify-content: center;
      align-items: center;
    }
  }
}
@media(max-width:950px){
  .main>div, .footer{
    padding: 75px 0;
  }
  .container{
    padding: 0 45px;
  }
  .header{
    padding-top: 0;
    background: url('../img/header/header__bg.png')center/auto 100%  no-repeat;
    .nav{
      &-burger__menu{
        display: flex;
      }
      &__row{
        justify-content: space-between;
      }
      &__item-refs{
        display: none;
      }
      &__item-logo{ 
        img{
          width: 120%;  
        }
      }
      &__item-svg{
        display: none;
      }
      &__burger-icon{
        display: block;
        transition: .5s all ease;
        svg{
          width: 40px;
          height: 40px;
        }
      }
    }
    &__title{
      font-weight: 400;
      font-size: 48px;
      margin-bottom: 17px;
    }
    &__subtitle{
      font-size: 28px;
    }
  }
  .features{
    &__body{
      flex-direction: column-reverse;
    }
    &__subtitle{
      max-width: 90%;
    }
    &__row{
      flex-wrap: wrap;
      margin: 40px auto 50px;
    }
    &__item{
      flex: 1 0 100%;
    }
    &__player{
      border-radius:20px;
    }
  }
  .calendar{
    &__row{
      //text-align: center;
      flex-direction: column;
      justify-content: center;
      gap: 60px;
    }
    &__text{
     // margin: 0 auto;
      //flex: 1 0 100%;
      text-align: center;

    }
    &__title{
      max-width: 90%;
      margin: 0 auto 27px;
    }
    &__subtitle{
      max-width: 90%;
      margin: 0 auto 60px;
    }
    &__btn{
      margin: 0 auto;
    }
    &__img{
      //margin: 0 auto;
      //flex: 1 0 100%;
    }
  }
  .subscribe{
    &__row{
      flex-direction: column;
      gap: 59px;
    }
    &-mobile__top{
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0 auto;
      text-align: center;
    }
    &__label{
      display: none;
    }
    &__title{
      display: none;
    }
    &__text {
      text-align: center;
      
    }
  }
  .testimonials{
    &__subtitle{
      color:#374754;
      font-size: 24px;
      font-weight: 700;
    }
  }
  .prices{
    &__row{
      flex-wrap: wrap;
    }
    &__card{
      flex: 1 1 100%;
      max-width: 400px;
      margin: 0 auto;
    }
  }
  .contact{
    &__content{
      flex-direction: column-reverse;
      flex-wrap: wrap;
      &>div, form{
        flex: 1 0 100%;
      }
    }
    &__form{
      max-width: 600px;
      width: 85%;
      margin: 0 auto;
    }
    &__side{
      display: flex;
      flex-direction: column-reverse;
      flex: 1 0 100%;
    }
    &-contacts{
      flex-wrap: wrap;
      &__item{
        flex: 1 0 100%;
        align-items: start;
        flex-direction: row;
      }
      &__text{
        font-size: 22px;
        text-align: left;
        
      }
    }
    &__map{
      display: none;
    }
    &-socials{
      align-self: center;
      gap: 50px;
      
    }
  }
}
@media(max-width:650px){
  .main>div, .footer{
    padding: 50px 0;
  }
  .container{
    padding: 0 15px;
  }
  .header{
    & nav{
      padding-top: 20px;
    }
    &__title{
      max-width: 90%;
      margin-bottom: 45px;
    }
  }
  .features{
    &__player{
      max-width: 100%;
    }
  }
  .partners{
    &__subtitle{
      max-width: 100%;
    }
  }
  .testimonials{
    &__subtitle{
      max-width: 100%;
    }
  }
  .contact{
    &-form{
      padding: 30px;
      &__title{
        font-size: 25px;
      }
    }
  }
  .footer{
    &__item{
      flex: 1 0 100%;
      &:nth-child(3){
        margin-bottom: 50px;
      }
      
    }
    &__contacts{
      text-align: left;
      align-items: start;
    }
  }
}
@media(max-width:420px){
  .contact{
    &-contacts{
      &__email{
        font-size: 16px;
      }
    }
  }
}
