.subscribe {
  padding: 100px 0;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }
  &-mobile__top{
    display: none;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    text-align: center;
  }
  &-mobile__label{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color:#252B42;
    margin-bottom: 17px;
  }
  &-mobile__title{
    margin-bottom: 30px;
  }
  &__img {
    flex: 1 0 50%;
    & img{
      max-width: 100%;
    }
  }

  &__text {
    color:#252B42;
    position: relative;
    
  }

  &__label {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color:#252B42;
    margin-bottom: 17px;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 48px;
    line-height: 55px;
  }

  &__subtitle-bold {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
  }

  &__subtitle-regular {
    font-size: 18px;
    line-height: 25px;
    color:#374754;
    margin-bottom: 36px;
  }

  &__form {
    display: flex;
    gap: 12px;
  }
  &__input{
    font-size: 18px;
    color:#18171D;
    line-height: 16px;
    border:none;
    background-color:#E8E8E8;
    padding: 14px 80px 14px 25px;
    border-radius:35px;
  }
  &__result{
    position: absolute;
    bottom: -50px;
    left: 0;
    font-size: 18px;
    line-height: 25px;
    color:#374754;
    &.success{
      color:green;
    }
    &.failed{
      color:red;
    }
  }
}