.modal-try {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  &__inner {
  }

  &__title {
  }

  &__form {
  }

  &__input-name {
  }

  &__input-email {
  }

  &__button {
  }
}

